@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#background {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url("../../resources/img/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    height: 97%;
    max-width: 980px;
    margin: auto auto;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #FAFCFC;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
    border-radius: 30px;

    overflow: hidden;
}

#sidebar {
    min-width: 200px;
    position: absolute;
    height: 100%;
    width: 23%;
    background-color: #2A77C5;
}

#user-item {
    margin-top: 60px;
    margin-bottom: 30px;
}

#user-item span{
    height: 1em;
    overflow-y: hidden;
}

#user-img {
    height: 40px;
    width: 40px;
    border-radius: 43%;
}

.sidebar-item {
    margin-top: 20px;
    margin-left: 17%;
    display: flex;
    align-items: center;
    opacity: 75%;
    transition: 0.1s;
}


.selected-sidebar-item {
    opacity: 92%;
    cursor: pointer;
}

.sidebar-item:hover {
    opacity: 100%;
    cursor: pointer;
}

.sidebar-img {
    height: 40px;
    width: 40px;
}

.sidebar-text {
    font-family: 'Ubuntu', bold;
    font-weight: 700;
    margin: auto;
    color: #FFFFFF;
    margin-left: 15px;
    font-size: 16px;
}

#content-wrapper {
    position: relative;
    margin-left: 23%;
    width: 77%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center
}

#content {
    position: absolute;
    width: 93%;
    height: 90%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

audio::-webkit-media-controls-panel {
    background-color: #328FEC;
    transition: 0.1s;
}

audio::-webkit-media-controls-panel:hover {
    background-color: #369AFF;
}

audio::-webkit-media-controls-volume-slider {
    background-color: #328FEC;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

a {
    text-decoration: none;
}

.like-button {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #2A77C5;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    letter-spacing: 0.1px;
}

.like-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

a {
    line-height: 1.0 !important;
}

a:link {
    color: #2A77C5;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.0 !important;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2A77C5;
    text-decoration: none;
}